@import "./abstract/vars"
@import "./abstract/mixins"
@import "./media"

*
  list-style: none
  text-decoration: none
  padding: 0
  margin: 0
  font-family: "Roboto", sans-serif


.mb-10
  margin-bottom: 10px

.mb-50
  margin-bottom: 50px

.disabled-text
  color: $disabledTextColor

.icon-active
  color: $iconsActiveFgColor
  background-color: $iconsActiveBgColor

.icon-passive
  color: $iconsDefaultFgColor

.plus-active
  border-radius: 50%
  padding: 0 7px
  font-size: 20px

.minus
  font-size: 45px
  font-weight: 300

button
  padding: 8px 16px
  border: none
  border-radius: 5px

  &:active
    transform: scale(.9)
    transition: all .2s ease

body
  background-color: $bodyBgColor

.link
  color: $textColor

  &:hover
    color: $linksHoverColor

header
  margin: 0 auto
  width: 65%
  background-color: $pageBgColor
  @include flexMixin($columnGap: 0, $justifyContent: space-between)
  border-bottom: 1px solid $disabledTextColor

  & .contacts
    padding: 7px 20px
    width: 20%
    display: flex
    flex-direction: column
    align-items: center
    border-right: 1px solid $disabledTextColor

    & h2
      font-size: 18px
      font-weight: 500

    & .contacts__contact
      color: $linksHoverColor

    & .contacts__work_time
      color: $disabledTextColor
      font-size: 14px
      font-weight: 500
      display: flex
      align-items: center
      column-gap: 5px

  & .info
    width: 70%
    padding: 25px 15px
    @include flexMixin($columnGap: 0, $justifyContent: space-between)

    & .city
      & p:first-child
        color: $disabledTextColor
        font-size: 14px
        font-weight: 300

      & p:last-child
        font-size: 18px
        font-weight: 400
        color: $textColor

    & .info-links
      @include flexMixin($columnGap: 10px, $justifyContent: normal)

      & .link
        font-size: 18px
        font-weight: 400

  & .search
    padding: 20px
    text-align: right

.frames
  @include flexMixin(flex-start, 0, space-between)

nav
  background-color: $blocksBgColor
  padding: 0 60px

  & .site-info
    padding: 30px 15px
    border-bottom: 1px solid $disabledTextColor
    @include flexMixin(center, 0, $flexDirection: column, $rowGap: 10px)

    & img
      border-radius: 50px

.nav-links
  padding: 30px 15px

  & .nav-icon-link
    margin-bottom: 25px
    font-size: 24px

.nav-icon-link
  position: relative
  @include flexMixin($columnGap: 20px)

  & .nav-icon-link__tag
    position: absolute
    top: -10px
    text-transform: uppercase
    background-color: $navLinkTagBgColor
    color: $navLinkTagFgColor
    right: 0
    font-size: 11px
    font-weight: 100
    padding: 1px 5px
    border-radius: 50px

.cart
  margin: 50px 90px 50px 30px
  text-align: center
  border-radius: 10px
  padding-top: 10px

  &.empty
    background-color: $pageBgColor

    & p.option
      font-size: 14px
      color: $optionsBtnFgColor
      background-color: $optionsBtnBgColor
      padding: 12px 30px
      border-radius: 10px

  &.full
    & .header
      background-color: $pageBgColor
      text-align: center
      padding: 10px
      border-radius: 5px
      font-size: 24px
      font-weight: 500

  & .cart-products
    width: 100%

    & .cart-product
      margin-bottom: 25px

  & .submit
    width: 100%
    @include flexMixin(center, 0, space-between)

    & p
      font-size: 20px
      font-weight: bold

    button
      color: $buttonTextColor
      background-color: $buttonBgColor

.cart-product
  @include flexMixin(center, 10px, center)
  width: 100%

  & > img
    width: 30%

  & .cart-product__info
    width: 65%

    & .name
      font-size: 20px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    & .calculator
      @include flexMixin(center, 10px, center)

      .count
        font-size: 20px

    & .price
      font-weight: bolder

.frames
  & nav
    width: 10%

  & header
    width: 70%

  & .cart
    width: 15%
