@import "./abstract/vars"
@import "./abstract/mixins"
@import "./media"

*
  list-style: none
  text-decoration: none
  padding: 0
  margin: 0
  font-family: "Roboto", sans-serif

.link
  color: $textColor

  &:hover
    color: $linksHoverColor

header
  margin: 0 auto
  width: 65%
  background-color: $pageBgColor
  @include flexMixin($columnGap: 0, $justifyContent: space-between)
  border-bottom: 1px solid $disabledTextColor

  & .contacts
    padding: 7px 20px
    width: 20%
    display: flex
    flex-direction: column
    align-items: center
    border-right: 1px solid $disabledTextColor

    & h2
      font-size: 18px
      font-weight: 500

    & .contacts__contact
      color: $linksHoverColor

    & .contacts__work_time
      color: $disabledTextColor
      font-size: 14px
      font-weight: 500
      display: flex
      align-items: center
      column-gap: 5px

  & .info
    width: 70%
    padding: 25px 15px
    @include flexMixin($columnGap: 0, $justifyContent: space-between)

    & .city
      & p:first-child
        color: $disabledTextColor
        font-size: 14px
        font-weight: 300

      & p:last-child
        font-size: 18px
        font-weight: 400
        color: $textColor

    & .info-links
      @include flexMixin($columnGap: 10px, $justifyContent: normal)

      & .link
        font-size: 18px
        font-weight: 400

  & .search
    padding: 20px
    text-align: right

.frames
  @include flexMixin(flex-start, 0, space-between)

nav
  background-color: $blocksBgColor
  padding: 0 60px

  & .site-info
    padding: 30px 15px
    border-bottom: 1px solid $disabledTextColor
    @include flexMixin(center, 0, $flexDirection: column, $rowGap: 10px)

.nav-links
  padding: 30px 15px

  & .nav-icon-link
    margin-bottom: 25px
    font-size: 24px

.nav-icon-link
  position: relative
  @include flexMixin($columnGap: 20px)

  & .nav-icon-link__tag
    position: absolute
    top: -10px
    text-transform: uppercase
    background-color: $navLinkTagBgColor
    color: $navLinkTagFgColor
    right: 0
    font-size: 11px
    font-weight: 100
    padding: 1px 5px
    border-radius: 50px
